<h1>You sent the following data in a POST request:</h1>
{{#if query}}
<ul>
  <h2>You sent this in the query string </h2>
  {{#each query}}
    <li>{{this.name}}: {{this.value}}
  {{/each}}
</ul>
{{else}}
  <h2>You sent nothing in the query string and angered Fred</h2>
  <img src="http://pre06.deviantart.net/d7a9/th/pre/i/2011/176/5/5/velociraptor_smile_by_yankeetrex-d3jzije.jpg">
{{/if}}

{{#if data}}
<ul>
  <h2>You sent this in the body</h2>
  {{#each data}}
    <li>{{this.name}}: {{this.value}}
  {{/each}}
</ul>
{{else}}
  <h2>You sent nothing in the body, so here is a bear</h2>
  <img src="http://images.all-free-download.com/images/graphiclarge/teddy_bear_with_a_guitar_211102.jpg">
{{/if}}
