<h1>You sent the following data in a POST request:</h1>
{{#if query}}
<ul>
  <h2>You sent this in the query string </h2>
  {{#each query}}
    <li>{{this.name}}: {{this.value}}
  {{/each}}
</ul>
{{else}}
  <h2>You sent nothing in the query string, so here is a cute bear</h2>
  <img src="http://www.allgraphics123.com/ag/01/10683/10683.jpg">
{{/if}}

{{#if data}}
<ul>
  <h2>You sent this in the body</h2>
  {{#each data}}
    <li>{{this.name}}: {{this.value}}
  {{/each}}
</ul>
{{else}}
  <h2>You sent nothing in the body, so here is a cute bear with a guitar</h2>
  <img src="http://images.all-free-download.com/images/graphiclarge/teddy_bear_with_a_guitar_211102.jpg">
{{/if}}
